* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #212529;
}
main.cargar {
  text-align: center;
}
.form-wrapper {
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
}
.form-wrapper h2 {
  color: white;
  margin-top: 1rem;
}
.form-wrapper form {
  margin-top: 1rem;
  color: white;
}
.form-wrapper form button[type="submit"] {
  display: block;
  margin: auto;
  padding: 0.5rem 2rem;
}
/* a.btn-link {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
}
a.btn-link:hover {
  color: rgb(199, 198, 198);
}
main.cargar a.btn-link {
  background-color: rgb(255, 99, 71);
} */

main.listado {
  text-align: center;
}
main.listado h2 {
  color: white;
  margin-top: 1rem;
}
.table {
  width: 95%;
  max-width: 50rem;
  margin: 1rem auto;
  vertical-align: middle;
  text-align: center;
}
.table thead th:first-child {
  width: 10%;
}
.table thead th:nth-child(2) {
  width: 50%;
  text-align: left;
}
.table thead th:nth-child(3) {
  width: 20%;
}
.table thead th:last-child {
  width: 20%;
}
.table tbody td:nth-child(2) {
  text-align: left;
}
.table .table__image {
  width: 50%;
}
/* main.listado a.btn-link {
  background-color: rgb(34, 139, 34);
} */
